In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os

In [2]:
'''
Read through 108 excel files using glob module. Make sure the files are ordered according to condition and residence time.
'''


file_list = glob.glob(r'*.xlsx')
# Go to directory and return a list of all the file names in that location.

file_list = sorted(file_list, key=os.path.getmtime)
# Sort files according to the time that it was created.
        
file_list.remove(file_list[88])
file_list.insert(84 ,'C22 T30.xlsx')
# Rearrange the order of the files which were created out of order in time, to be ordered by file name.

indices = [x for x in range(len(file_list))]
d = dict(zip(indices, file_list))
d
# Inspect the order of the file_list. Indices coupled with file name.

{0: 'C1 T30.xlsx',
 1: 'C1 T60.xlsx',
 2: 'C1 T90.xlsx',
 3: 'C1 T120.xlsx',
 4: 'C2 T30.xlsx',
 5: 'C2 T60.xlsx',
 6: 'C2 T90.xlsx',
 7: 'C2 T120.xlsx',
 8: 'C3 T30.xlsx',
 9: 'C3 T60.xlsx',
 10: 'C3 T90.xlsx',
 11: 'C3 T120.xlsx',
 12: 'C4 T30.xlsx',
 13: 'C4 T60.xlsx',
 14: 'C4 T90.xlsx',
 15: 'C4 T120.xlsx',
 16: 'C5 T30.xlsx',
 17: 'C5 T60.xlsx',
 18: 'C5 T90.xlsx',
 19: 'C5 T120.xlsx',
 20: 'C6 T30.xlsx',
 21: 'C6 T60.xlsx',
 22: 'C6 T90.xlsx',
 23: 'C6 T120.xlsx',
 24: 'C7 T30.xlsx',
 25: 'C7 T60.xlsx',
 26: 'C7 T90.xlsx',
 27: 'C7 T120.xlsx',
 28: 'C8 T30.xlsx',
 29: 'C8 T60.xlsx',
 30: 'C8 T90.xlsx',
 31: 'C8 T120.xlsx',
 32: 'C9 T30.xlsx',
 33: 'C9 T60.xlsx',
 34: 'C9 T90.xlsx',
 35: 'C9 T120.xlsx',
 36: 'C10 T30.xlsx',
 37: 'C10 T60.xlsx',
 38: 'C10 T90.xlsx',
 39: 'C10 T120.xlsx',
 40: 'C11 T30.xlsx',
 41: 'C11 T60.xlsx',
 42: 'C11 T90.xlsx',
 43: 'C11 T120.xlsx',
 44: 'C12 T30.xlsx',
 45: 'C12 T60.xlsx',
 46: 'C12 T90.xlsx',
 47: 'C12 T120.xlsx',
 48: 'C13 T30.xlsx',
 49: 'C13 T60.xlsx',
 50: 'C13 T90.xlsx',
 51: 'C13 T120.xlsx',
 52: 'C14 T30.xlsx',
 53: 'C14 T60.xlsx',
 54: 'C14 T90.xlsx',
 55: 'C14 T120.xlsx',
 56: 'C15 T30.xlsx',
 57: 'C15 T60.xlsx',
 58: 'C15 T90.xlsx',
 59: 'C15 T120.xlsx',
 60: 'C16 T30.xlsx',
 61: 'C16 T60.xlsx',
 62: 'C16 T90.xlsx',
 63: 'C16 T120.xlsx',
 64: 'C17 T30.xlsx',
 65: 'C17 T60.xlsx',
 66: 'C17 T90.xlsx',
 67: 'C17 T120.xlsx',
 68: 'C18 T30.xlsx',
 69: 'C18 T60.xlsx',
 70: 'C18 T90.xlsx',
 71: 'C18 T120.xlsx',
 72: 'C19 T30.xlsx',
 73: 'C19 T60.xlsx',
 74: 'C19 T90.xlsx',
 75: 'C19 T120.xlsx',
 76: 'C20 T30.xlsx',
 77: 'C20 T60.xlsx',
 78: 'C20 T90.xlsx',
 79: 'C20 T120.xlsx',
 80: 'C21 T30.xlsx',
 81: 'C21 T60.xlsx',
 82: 'C21 T90.xlsx',
 83: 'C21 T120.xlsx',
 84: 'C22 T30.xlsx',
 85: 'C22 T60.xlsx',
 86: 'C22 T90.xlsx',
 87: 'C22 T120.xlsx',
 88: 'C23 T30.xlsx',
 89: 'C23 T60.xlsx',
 90: 'C23 T90.xlsx',
 91: 'C23 T120.xlsx',
 92: 'C24 T30.xlsx',
 93: 'C24 T60.xlsx',
 94: 'C24 T90.xlsx',
 95: 'C24 T120.xlsx',
 96: 'C25 T30.xlsx',
 97: 'C25 T60.xlsx',
 98: 'C25 T90.xlsx',
 99: 'C25 T120.xlsx',
 100: 'C26 T30.xlsx',
 101: 'C26 T60.xlsx',
 102: 'C26 T90.xlsx',
 103: 'C26 T120.xlsx',
 104: 'C27 T30.xlsx',
 105: 'C27 T60.xlsx',
 106: 'C27 T90.xlsx',
 107: 'C27 T120.xlsx'}

In [3]:
df = pd.read_excel(file_list[0]) # Read 1st file

df # DataFrame needs cleaning to extract MW and Mole Fraction data

,Data File,C:\Users\Tan Jin Da\Desktop\High Throughput Experiments Data\1. Data - Consolidated\GPC - Consolidated\Consolidated Raw GPC Chromatograms and Method Files\C1 T30.vdt,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,Sample ID,C1R3 T30 Repeat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Method File Name,TJD_Mar2021-0000.vcm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Date Acquired,"Feb 23, 2021 - 17:12:28",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Solvent,THF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Operator,admin : Administrator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7534,24.9833,-2.655,22.05,88.809,-2500.08,33.198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7535,24.9867,-2.67,22.05,88.809,-2500.08,33.1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7536,24.99,-2.67,22.05,88.794,-2500.08,33.1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7537,24.9933,-2.701,22.05,88.763,-2500.08,33.1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7538,24.9967,-2.686,22.05,88.748,-2500.08,33.198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
x = list(df.iloc[:,11].dropna()) # Drop all empty values
M_i = x[1:] # Drop 1st element 'Molecular Weight' of list

n_i = list(df.iloc[:,14].dropna()) # Drop all empty values
n_i = n_i[1:] # Drop 1st element 'Normalized Mole Fraction' of list. n_i list represents the Normalized Mole Fraction.

'''
Create the scaffold of a DataFrame so that each file can be iteratively read and then appended in rows.
The DataFrame will contain the absolute molecular weights as its header, and the values of n_i in each file as its values.
The length of each row is fixed to 1499 values, owing to the boundary set during data extraction using OmniSEC.
Each row will represent an MWD when plotted against the header.
'''

df = dict(zip(M_i,n_i)) # zip the M_i and n_i lists together and create a dictionary
df = pd.DataFrame(df, index=[0]) # Create a Dataframe from the dictionary and set index to log MW.
df # Inspect df. Header must be the log molecular weight, each row represents the n_i value of each file at that MW.

,5.5070,5.5103,5.5075,5.5048,5.5021,5.4993,5.4966,5.4939,5.4912,5.4884,...,2.7309,2.7296,2.7284,2.7271,2.7258,2.7246,2.7233,2.7220,2.7208,2.7174
0,0,0,0,0,0,0,0,0,0,0,...,0.0342,0.0309,0.0314,0.0287,0.0273,0.0271,0.0263,0.0248,0.0253,0.0246

In [5]:
for i in range(len(file_list)): # i ranges from 0 to 107 (108 MWD files)
    df1 = pd.read_excel(file_list[i]) # Dummy df1 object stores the unedited excel file DataFrame within the loop
    n_i = list(df1.iloc[:,14].dropna()) # Drop missing values and create a list
    n_i = n_i[1:] # Drop 'Normalized Mole Fraction'
    df.loc[i] = n_i # Overwrite the ith row of df with n_i

df

,5.5070,5.5103,5.5075,5.5048,5.5021,5.4993,5.4966,5.4939,5.4912,5.4884,...,2.7309,2.7296,2.7284,2.7271,2.7258,2.7246,2.7233,2.7220,2.7208,2.7174
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0342,0.0309,0.0314,0.0287,0.0273,0.0271,0.0263,0.0248,0.0253,0.0246
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0863,0.0860,0.0865,0.0862,0.0867,0.0860,0.0856,0.0848,0.0849,0.0846
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0822,0.0816,0.0810,0.0797,0.0788,0.0792,0.0783,0.0783,0.0787,0.0785
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0975,0.0967,0.0955,0.0940,0.0932,0.0916,0.0917,0.0901,0.0905,0.0901
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.1053,0.1038,0.1031,0.1025,0.1036,0.1039,0.1023,0.1025,0.1019,0.1017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0406,0.0440,0.0474,0.0440,0.0492,0.0475,0.0459,0.0459,0.0459,0.0427
104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0464,0.0464,0.0419,0.0419,0.0430,0.0419,0.0419,0.0442,0.0443,0.0457
105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0456,0.0457,0.0457,0.0490,0.0468,0.0458,0.0469,0.0480,0.0469,0.0483
106,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0514,0.0502,0.0453,0.0453,0.0429,0.0429,0.0454,0.0478,0.0454,0.0493
107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0600,0.0620,0.0580,0.0501,0.0501,0.0500,0.0500,0.0480,0.0419,0.0421

In [6]:
'''
Re-index the rows of df into the corresponding condition and residence time for book-keeping purposes.
'''

index =[]
for i in file_list:
    i = i.replace('.xlsx','') # Replace substring '.xlsx' with ''
    index.append(i) 

df.index = index
df

,5.5070,5.5103,5.5075,5.5048,5.5021,5.4993,5.4966,5.4939,5.4912,5.4884,...,2.7309,2.7296,2.7284,2.7271,2.7258,2.7246,2.7233,2.7220,2.7208,2.7174
C1 T30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0342,0.0309,0.0314,0.0287,0.0273,0.0271,0.0263,0.0248,0.0253,0.0246
C1 T60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0863,0.0860,0.0865,0.0862,0.0867,0.0860,0.0856,0.0848,0.0849,0.0846
C1 T90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0822,0.0816,0.0810,0.0797,0.0788,0.0792,0.0783,0.0783,0.0787,0.0785
C1 T120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0975,0.0967,0.0955,0.0940,0.0932,0.0916,0.0917,0.0901,0.0905,0.0901
C2 T30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.1053,0.1038,0.1031,0.1025,0.1036,0.1039,0.1023,0.1025,0.1019,0.1017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C26 T120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0406,0.0440,0.0474,0.0440,0.0492,0.0475,0.0459,0.0459,0.0459,0.0427
C27 T30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0464,0.0464,0.0419,0.0419,0.0430,0.0419,0.0419,0.0442,0.0443,0.0457
C27 T60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0456,0.0457,0.0457,0.0490,0.0468,0.0458,0.0469,0.0480,0.0469,0.0483
C27 T90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0514,0.0502,0.0453,0.0453,0.0429,0.0429,0.0454,0.0478,0.0454,0.0493
C27 T120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0600,0.0620,0.0580,0.0501,0.0501,0.0500,0.0500,0.0480,0.0419,0.0421

In [7]:
df.to_excel(r'C:\Users\Tan Jin Da\Desktop\High Throughput Experiments Data\1. Data - Consolidated\GPC - Consolidated\Overall MWD Data(Log).xlsx')
# Excel file inspected manually.